Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answer.

In [2]:
print("hello to a programmung world")

hello to a programmung world

In [3]:
c = "drv"

In [5]:
c1 = 'coder'

In [6]:
type (c)

str

In [7]:
b= [1,2,3,4]

In [9]:
type(b)

list

In [10]:
c = 245.456

In [11]:
c

245.456

In [12]:
type(c)

float

In [13]:
d= 10,40,50.60

In [14]:
d

(10, 40, 50.6)

In [15]:
type(d)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Answer2.

 (i)This appears to be a string containing a single space character. So, the data type of var1 is a string.
 
 (ii)This appears to be a string containing square brackets and some text inside.So, the data type of var2 is a string.
 
 (iii)var3 is of type list
 
 (iv)This appears to be a floating-point number. The presence of a decimal point makes it a floating-point value. So, the data type of var4 is a float.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) The division operator (/) is used to perform division between two numbers.

In [20]:
marks =20/10

In [21]:
print(marks)

2.0

(ii)The modulus operator (%) is used to find the remainder when one number is divided by another.

In [23]:
perc =30/3

In [24]:
print(perc)

10.0

(iii) // (Floor Division Operator):

The floor division operator (//) is used to perform division and return the quotient as an integer (rounded down to the nearest whole number).

In [25]:
quotient= 20//2

In [27]:
print(quotient)

10

(iv) ** (Exponentiation Operator):

The exponentiation operator (**) is used to raise the left operand to the power of the right operand.

In [29]:
report =10**2

In [30]:
print(report)

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Answer.

In [32]:
drv_list = [10, "Hello, PW!", 2.0, True, [1, 2, 3], {"name": "spartan", "age": 21}, None, (1, 2), 1.0, False]

for element in drv_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 10, Data Type: <class 'int'>
Element: Hello, PW!, Data Type: <class 'str'>
Element: 2.0, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'spartan', 'age': 21}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: (1, 2), Data Type: <class 'tuple'>
Element: 1.0, Data Type: <class 'float'>
Element: False, Data Type: <class 'bool'>

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Answer.

In [2]:

my_list = [10, 6, 33, 14, 9, 7, 18, 21, 30, 5, 8, 27, 42, 15, 11, 22, 36, 20, 12, 24, 13, 17, 19, 4, 16]
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

10 is not divisible by 3
6 is divisible by 3
33 is divisible by 3
14 is not divisible by 3
9 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
30 is divisible by 3
5 is not divisible by 3
8 is not divisible by 3
27 is divisible by 3
42 is divisible by 3
15 is divisible by 3
11 is not divisible by 3
22 is not divisible by 3
36 is divisible by 3
20 is not divisible by 3
12 is divisible by 3
24 is divisible by 3
13 is not divisible by 3
17 is not divisible by 3
19 is not divisible by 3
4 is not divisible by 3
16 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer

Mutable Data Types:
Mutable data types are data types whose values can be changed after they are created. This means that you can modify the contents of the object without creating a new one.

example

Lists: Lists in many programming languages are mutable. You can add, remove, or modify elements in a list after it is created.

In [5]:
b= [1,2,3,4]

In [6]:
type(b)

list

Immutable data types are data types whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value, leaving the original object unchanged.

example.

In [9]:
c = "drv"

In [10]:
c1= 'coder'

In [11]:
type (c)

str